.authorization__registered {
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 637px) {
  .authorization__registered {
    margin-top: 20px;
  }
}
