.profile__avatar-opacity {
  transition: opacity .5s;
  cursor: pointer;

}

 .profile__avatar-opacity:hover .profile__icon {
  opacity: .2;
}

.profile__avatar-opacity:hover .profile__pencil {
  opacity: 1;
} 
