.link-opacity {
  transition: opacity 0.5s;
  cursor: pointer;
}

.link-opacity:hover {
  opacity: 0.6;
}

.elements__heart.link-opacity:hover {
  opacity: 0.5;
}

.popup__save-button.link-opacity:hover {
  opacity: 0.8;
}
