.authorization__input {
  padding: 0 0 13px;
  margin: 0 auto 30px;
  width: 358px;
  height: 12px;
  border: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: #cccccc 2px solid;
  background-color: transparent;
  color: #ffffff;
}

.authorization__input::placeholder {
  color: #cccccc;
}

.authorization__input:focus {
  outline: none;
}

.authorization__input:last-of-type {
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 637px) {
  .authorization__input {
    width: 238px;
  }
}
